.app-container {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: auto minmax(0, 1fr);
  width: 100vw;
  height: 100vh;
}

.app-header {
  grid-column: 1 / span 12;
  border-bottom: 1px black solid;
  padding: 12px;
}

.app-side-menu {
  grid-column: 1;
  border-right: 1px black solid;
  padding: 12px;
}

.app-main-content {
  grid-column: 2 / span 12;
  padding: 12px;
}