@page
@model Presentation.Pages.Account.LoginModel

<h1>Please log in</h1>

<form class="form-container" method="post">
    <div class="form-field">
        <label asp-for="Input.Username"></label>
        <input asp-for="Input.Username"/>
    </div>
    <div class="form-field">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password"/>
    </div>
    <div class="form-field">
        <button>Log in</button>
    </div>
    <div class="form-field">
        <a asp-page="/Account/Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
    </div>
</form>