<div *ngIf="exists; else noProduct">
    <form [formGroup]="form">
        <div>
            <label for="id">ID</label>
            <input id="id" formControlName="id" readonly/>
        </div>
        <div>
            <label for="name">Name</label>
            <input id="name" formControlName="name" readonly/>
        </div>
        <div>
            <label>Description</label>
            <input id="description" formControlName="description" readonly/>
        </div>
    </form>
</div>

<ng-template #noProduct>
    Product doesn't exist.
</ng-template>
